* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

.clear{
    clear: both;
}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
#nav{
    display: inline-block;
}
#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
    text-transform: uppercase;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
    color: #fff;
    background-color: #ccc;
}
#nav .icon-down{
    font-size: 10px;
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    background-color:#fff;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0 16px;
}
#header .search-btn{
    float:right;
}
#header .search-icon{
    color: #fff;
    font-size: 15px;
    display: block;
    
    padding:0 21px;
    line-height: 46px;
}
#header .search-icon:hover{
    background-color: red;
    cursor: pointer;
}
#nav {}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/la.jpg) top center/ cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-content .text-heding{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-content .text-dev{
    font-size: 15px;
    margin: 25px;
}


#content {
    /* padding-top: 64px!important;
    padding-bottom: 64px!important; */
}
#content .content-selection{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right:auto ;
    
}
#content .selection-sub-heading{
    text-align: center;
    font-style: italic;
    opacity: 0.60;

}
#content .content-selection .selection-heading{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;

}
#content .about{
    display: block;
    text-align: justify;
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.4;
}
#content .members-list{
    margin-top: 40px;
}
#content .members-item{
    float: left;
    text-align: center;
    width: 33.3333%;
    
}
#content .Name{
    font-size: 15px;
    
}
#content .Name-img{
    margin-top: 13px;
    width: 152px;
    border-radius: 4px;
}
.tour-selection{
    color: #fff;
    background-color: #000;
    
}
.tickets-list{
    color: #000;
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 15px;
    opacity: 0.60;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
} 

.tickets-list .quanlity{
   float: right;
   width: 24px;
   height: 24px;
   background-color: #000;
   color :#fff;
   text-align: center;
   line-height: 24px;
   border-radius: 50%;
   margin-top: -3px;
}
/* Place .*/
.places-list{
    margin-top: 32px;
    
   
}   
.place-item {
    float: left;     
    width: 33.33333%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.60;
}
.place-content{
    color: #000;
    background-color: #fff;
    padding: 14px;
   
}
.place-time, .place-desc,
.place-heading{
    
    padding-bottom: 20px;
}
.place-time{
    opacity: 0.60;
}
/* .place-desc{
    padding-bottom: 20px;
} */
.place-buy_btn{
    
    color: #fff;
    background-color: #000;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font: inherit;
    display: inline-block;
}
.place-buy_btn:hover{
    color: #000!important;
    background-color: #ccc!important;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    
}
.modal.open{
    display :flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;

}
header.heading {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    cursor: pointer;
}
.modal-close:hover{
    color: #000;
    background-color: #ccc;
    
}
.modal-label {
    display: block;
    padding-bottom: 10px;
}
.modal-body {
    padding: 16px;
}
.modal-input{
    display: block;
    padding: 8px;
    width: 100%;
}
button#buy-btn {
    width: 100%;
    background-color: #009688;
    padding: 16px;
    margin-top: 13px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
button#buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
.fag{
    margin-right: 16px;
    
}

.modal-help {
    text-align: right;
    padding: 16px;
}
.modal-help a{
    color: #2196F3;
}
.footer-close{
    color: #fff!important;
    background-color: #f44336!important;
}
@keyframes modalFadeIn{
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#footer {}